.container {
  height: calc(100vh - var(--headerHeight));
  padding: 30px;
  background: rgba(var(--pink), 50%);
  display: flex;
  justify-content: center;
}

.content {
  height: 100%;
  width: min(100%, 1500px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text_container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 40ch;
}

.title {
  font-size: 48px;
  font-weight: 700;
  color: #1d1d1d;
}

.description {
  font-size: 28px;
  color: #575757;
}

.signup_button {
  composes: filled clickable from global;
}

.image_container {
  height: 80%;
}

.image_container img {
  height: 100%;
}

@media (max-width: 900px) {
  .content {
    flex-direction: column;
    justify-content: center;
    gap: 32px;
  }

  .title {
    font-size: 28px;
  }

  .description {
    font-size: 18px;
  }

  .text_container {
    align-self: center;
    order: 2;
    max-width: 20ch;
    text-align: center;
    padding-top: 0px;
    gap: 16px;
  }

  .image_container {
    height: 50%;
    text-align: center;
  }
}
