/*
  todo:
    - solve duplication issue with simple utility classes
    - redo css naming
*/

/* base */
.widthLimited {
  width: min(100%, var(--widthLimit));
}

.button {
  border-radius: 99px;
  cursor: pointer;
  padding: var(--mediumSpacing);
  font-size: var(--h4FontSize);
  font-weight: var(--b1FontWeight);
  text-align: center;
  text-decoration: none;
}

.page {
  height: calc(100vh - var(--headerHeight));
  padding: var(--mediumSpacing);
}

.buttonContainer {
  display: flex;
  gap: var(--mediumSpacing);
}

/* .bottom_shadowed {
  box-shadow: 0px 4px 4px -2px #fdbfab;
} */

.shadowed {
  box-shadow: 0 0 16px -2px #fdbfab;
}

/**********************************/

/* general */
.borderButton {
  composes: button;
  border: 1px solid #ff7865;
  background: white;
  color: #ff7865;
}

.filledButton {
  composes: button;
  color: white;
  background: #fa8072;
  border: none;
}

/**********************************/

/* header */
.header {
  composes: shadowed;
  height: var(--headerHeight);
  position: sticky;
  top: 0;
  padding: var(--mediumSpacing);
  background: white;
}

.headerContainer {
  composes: widthLimited;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}

.headerLogo {
  height: 100%;
}

.headerButtonContainer {
  composes: buttonContainer;
  margin-left: auto;
}

/**********************************/

/* hero section */
.heroContainer {
  composes: page;
  background-image: url("../../public/hero-desktop-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroContent {
  /* composes: shadowed; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--mediumSpacing);
  background: white;
  padding: var(--mediumSpacing);
  border-radius: 1rem;
}

.heroLogo {
  width: var(--headerHeight);
}

.heroText {
  text-align: center;
  color: #3d5a80;
  font-size: var(--h1FontSize);
  font-weight: var(--b1FontWeight);
}

.heroButtonContainer {
  composes: buttonContainer;
  display: none;
}

/**********************************/

/* mobile section */
.mobilePage {
  composes: page;
  background: #fdbfab;
}

.mobileContainer {
  composes: widthLimited;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.mobileContent {
  flex: "auto";
  display: flex;
  flex-direction: column;
  max-width: max(25%, 38ch);
  gap: var(--mediumSpacing);
  align-self: flex-end;
  margin-bottom: 25%;
}

.mobileContentHeading {
  font-size: var(--h2FontSize);
  font-weight: var(--b1FontWeight);
}

.mobileContentParagraph {
  font-size: var(--h3FontSize);
  color: #575757;
}

.mobileImage {
  height: 100%;
}

/**********************************/

/* info section */
.infoPage {
  composes: page;
}

.infoContainer {
  composes: widthLimited;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  text-align: center;
}

.infoPrelude {
  display: flex;
  flex-direction: column;
  gap: var(--mediumSpacing);
}

.infoPrelude p:nth-child(2) {
  font-size: var(--h3FontSize);
  font-weight: var(--b1FontWeight);
}

.infoCardContainer {
  display: flex;
  width: 100%;
}

.infoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--mediumSpacing);
  flex: 1;
}

.infoCardImage {
  width: 50%;
}

.infoCardText p:nth-child(1) {
  font-size: var(--h3FontSize);
  font-weight: var(--b1FontWeight);
  margin-bottom: var(--smallSpacing);
}

/**********************************/

/* form section */
.formPage {
  composes: page;
  background-image: url("../../public/hero-desktop-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  /* backdrop-filter: brightness(64%); */
}

.formContainer {
  /* composes: widthLimited; */
  /* max-width: min(100%, 1000px); */
  /* height: 50%; */
  /* border: 1px solid red; */
  composes: shadowed;
  max-width: min(100%, 500px);
  background: white;
  border-radius: 12px;
  margin: auto;
  padding: var(--mediumSpacing);
  display: flex;
  justify-content: center;
  gap: var(--mediumSpacing);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: var(--mediumSpacing);
}

.formTitle {
  font-size: var(--h2FontSize);
  font-weight: var(--b1FontWeight);
}

.formButtonGroup {
  display: flex;
  flex-direction: column;
  gap: var(--mediumSpacing);
}

.formControls {
  display: flex;
  flex-direction: column;
  gap: var(--mediumSpacing);
}

._label {
  font-weight: 500;
}

.control {
  display: block;
  border-radius: 99px;
  margin-top: var(--smallSpacing);
  border: 1px solid #d9d9d9;
  width: 100%;
}

.textBox {
  composes: control;
  padding: var(--mediumSpacing);
}

.textBox::placeholder {
  color: #d9d9d9;
}

.contactFormLayout {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--mediumSpacing);
}

.separator {
  opacity: 0.32;
}

.contactForm {
  composes: form;
  width: 100%;
}

.signUpForm {
  composes: form;
  /* max-width: 40%; */
  /* max-width: 60%; */
}

.contactPage {
  composes: page;
  visibility: hidden;
  background: #fdbfab;
}

.footer {
  padding: var(--mediumSpacing) 32px;
  display: flex;
  background: #3d5a80;
  justify-content: space-between;
}

.branding {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  color: white;
}

.branding img {
  width: 100%;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: var(--smallSpacing);
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

.socials p {
  font-size: var(--h3FontSize);
}

.socialButton {
  max-width: 32px;
  background: white;
  border: none;
  border-radius: 12px;
  padding: var(--smallSpacing);
}

.socialButton img {
  width: 100%;
}

.socialButtons {
  display: flex;
  justify-content: center;
}

/**********************************/

/* mobile breakpoint */
@media (max-width: 900px) {
  .headerButtonContainer {
    display: none;
  }

  .headerLogo {
    margin: 0 auto;
  }

  .heroContainer {
    background-image: url("../../public/hero-mobile-bg.png");
  }

  .heroButtonContainer {
    display: inherit;
  }

  .mobilePage {
    padding: 64px var(--mediumSpacing);
    height: unset;
  }

  .mobileImage {
    width: 100%;
  }

  .mobileContainer {
    flex-direction: column;
    gap: 64px;
    align-items: center;
  }

  .mobileContent {
    align-self: center;
    text-align: center;
    order: 2;
  }

  .infoContainer {
    gap: 10%;
  }

  .infoCardContainer {
    flex-direction: column;
    align-items: center;
    padding: var(--mediumSpacing);
    /* border: 1px solid red; */
    /* gap: 10%; */
  }

  .infoCard {
    /* flex-direction: row;
    justify-content: space-between; */
    width: 100%;
    /* width: 100%; */
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .infoCardImage {
    /* border: 1px solid green; */
    height: 20vh;
  }

  .infoCardText {
    text-align: left;
    /* max-width: 60%; */
  }

  .separator {
    display: none;
  }

  .contactFormLayout {
    grid-template-columns: repeat(1, 1fr);
  }

  .contactForm {
    display: none;
  }

  .signUpForm {
    max-width: unset;
  }

  .formContainer {
    height: unset;
  }

  .formPage {
    background-image: url("../../public/hero-mobile-bg.png");
  }

  .contactPage {
    visibility: visible;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .branding {
    max-width: 50%;
    text-align: center;
  }
}

/**********************************/