.container {
  height: calc(100vh - var(--headerHeight));
  padding: 30px;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: min(100%, 1500px);
  justify-content: space-evenly;
  align-items: center;
}

.text_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.prelude {
  font-size: 20px;
}

.title {
  font-size: 36px;
  font-weight: 700;
}

.card_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  max-height: 50%;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
}

.card_icon {
  height: 33%;
}

.card_icon img {
  height: min(250px, 100%);
}

.card_text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card_title {
  font-size: 32px;
  font-weight: 700;
}

.card_description {
  font-size: 24px;
}

@media (max-width: 900px) {
  .text_container {
    gap: 8px;
  }

  .prelude {
    font-size: 12px;
  }

  .title {
    font-size: 24px;
  }

  .card_container {
    max-height: unset;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 100px);
  }

  .card {
    flex-direction: row;
  }

  .card_icon {
    height: 100%;
  }

  .card_text {
    text-align: left;
  }

  .card_title {
    font-size: 20px;
  }

  .card_description {
    font-size: 16px;
  }
}
