@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --spacing: 1rem;
  --headerHeight: min(5rem, 10vh);
  --transitionSpeed: 0.25s;
  --blue: #3d5a80;
  --pink: #fdbfab;
  --coral: #fa8072;
  --headingFontSize: clamp(2rem, 4vw, 5vw);
}

#root {
  height: 100vh;
}
