@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

:root {
  /* font */
  --fontFamily: "Quicksand", sans-serif;
  /* color */
  --coral: 255, 120, 101;
  --pink: 253, 191, 171;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--fontFamily);
}

.clickable {
  cursor: pointer;
  border-radius: 99px;
  padding: 14px 28px;
  font-weight: 700;
  font-size: 20px;
}

.bordered {
  color: rgb(var(--pink));
  border: 1px solid rgb(var(--pink));
  background: white;
}

.filled {
  color: white;
  border: none;
  background: rgb(var(--coral));
}

@media (max-width: 900px) {
  .clickable {
    padding: 12px 20px;
    font-size: 14px;
  }
}
