@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

:root {
  --fontFamily: "Quicksand", sans-serif;
  --headerHeight: min(8rem, 10vh);
  --widthLimit: 1500px;
  --smallSpacing: 0.5rem;
  --mediumSpacing: 1rem;
  --h1FontSize: 4rem;
  --h2FontSize: 3rem;
  --h3FontSize: 2rem;
  --h4FontSize: 1rem;
  --b1FontWeight: 700;
}

@media (max-width: 900px) {
  :root {
    --h1FontSize: 2rem;
    --h2FontSize: 1.75rem;
    --h3FontSize: 1.125rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--fontFamily);
}

html {
  scroll-behavior: smooth;
}
